body {
  background-color: rgb(28, 30, 33);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}
.header {
  display: flex;
  height: 150px;
  margin-bottom: 30px;
  .logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightseagreen;
    border: 7px solid #333;
  }
  .name {
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-self: end;
  }
  .change-photo {
    position: relative;
    right: 25px;
    top: 100px;
  }
}
.nav {
  height: 70px;
  background-color: #333;
  border-radius: 20px;
  .box.menu {
    display: flex;
    align-items: center;
    gap: 35%;
    height: 70px;
    .buttons {
      display: flex;
      gap: 10px;
      .btn {
        padding: 10px;
        color: white;
        background-color: rgb(71, 69, 69);
        border: none;
        border-radius: 10px;
      }
    }
    ul {
      display: flex;
      list-style: none;
      gap: 30px;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
.container {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  .left {
    width: 45%;
    .box {
      background-color: #333;
      border-radius: 20px;
      padding: 20px;
      h2 {
        margin-left: 5%;
        color: white;
      }
      .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8px;
        .photo {
          height: 130px;
          border-radius: 10px;
          &:nth-of-type(1) {
            background-color: lightblue;
            color: lightblue;
          }
          &:nth-of-type(2) {
            background-color: lightcoral;
            color: lightcoral;
          }
          &:nth-of-type(3) {
            background-color: lightsteelblue;
            color: lightsteelblue;
          }
          &:nth-of-type(4) {
            background-color: lightgreen;
            color: lightgreen;
          }
          &:nth-of-type(5) {
            background-color: lightsalmon;
            color: lightsalmon;
          }
          &:nth-of-type(6) {
            background-color: lightslategray;
            color: lightslategray;
          }
          &:nth-of-type(7) {
            background-color: lightgray;
            color: lightgray;
          }
          &:nth-of-type(8) {
            background-color: lightpink;
            color: lightpink;
          }
          &:nth-of-type(9) {
            background-color: lightseagreen;
            color: lightseagreen;
          }
        }
      }
    }
    .footer {
      ul {
        display: flex;
        list-style: none;
        color: white;
        gap: 10px;
        font-size: 13px;
      }
    }
  }
  .right {
    width: 55%;
    .box {
      background-color: #333;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 20px;
      color: white;
    }
    .box:nth-of-type(1) {
      .photos:nth-of-type(1) {
          height: 450px;
          gap: 2px;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(2, 1fr);
          .photo:nth-of-type(1) {
            grid-column: 1/3;
            background-color: grey;
          }
          .photo:nth-of-type(2) {
            grid-row: 1;
            grid-column: 3/5;
            background-color: grey;
          }
          .photo:nth-of-type(3) {
            grid-row: 1;
            grid-column: 5/7;
            background-color: grey;
          }
          .photo:nth-of-type(4) {
            grid-row: 2;
            grid-column: 1/4;
            background-color: grey;
          }
          .photo:nth-of-type(5) {
            grid-row: 2;
            grid-column: 4/7;
            background-color: grey;
          }
        }
      }
      .box:nth-of-type(3) {
        .photos:nth-of-type(1) {
            height: 450px;
            gap: 2px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .photo:nth-of-type(1) {
              grid-column: 1/3;
              background-color: grey;
            }
            .photo:nth-of-type(2) {
              grid-row: 1;
              grid-column: 3/5;
              background-color: grey;
            }
            .photo:nth-of-type(3) {
              grid-row: 1;
              grid-column: 5/7;
              background-color: grey;
            }
            .photo:nth-of-type(4) {
              grid-row: 2;
              grid-column: 1/7;
              background-color: grey;
            }
          }
        }
        .box:nth-of-type(4) {
          .photos:nth-of-type(1) {
              height: 200px;
              background-color: gray;
            }
          }
        .box:nth-of-type(6) {
          display: flex;
          justify-content: center;
        }
    }
  }
